@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?895f34facb80fbcdfb0d421717b6a343") format("truetype"),
url("./flaticon.woff?895f34facb80fbcdfb0d421717b6a343") format("woff"),
url("./flaticon.woff2?895f34facb80fbcdfb0d421717b6a343") format("woff2"),
url("./flaticon.eot?895f34facb80fbcdfb0d421717b6a343#iefix") format("embedded-opentype"),
url("./flaticon.svg?895f34facb80fbcdfb0d421717b6a343#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-home:before {
    content: "\f101";
}
.flaticon-living-room:before {
    content: "\f102";
}
.flaticon-crane:before {
    content: "\f103";
}
.flaticon-blueprint:before {
    content: "\f104";
}
.flaticon-graphic-design:before {
    content: "\f105";
}
.flaticon-customer-service:before {
    content: "\f106";
}
